<!-- <h1>{{title}}</h1> -->
<!-- <app-heroes></app-heroes> -->
<!-- <a routerLink="/signup" >Sign Up</a>
<a routerLink="/heroes" >Heroes</a> -->

<!-- {{router.url}} -->


<!-- {{router.url == '/'}} -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" routerLink="/" >KarmaTinder</a> -->
  <a class="navbar-brand" routerLink="/"> <img src="assets/logo/karma-tinder-image-logo.png" id=logo alt=""> KarmaTinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active">Projects</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf=!data.firstName>
        <a class="nav-link" routerLink="/signup" >Sign Up/Log In</a>
      </li>

      <li class="nav-item active" *ngIf=data.firstName>
        <a class="nav-link" routerLink="/profile">{{data.firstName}}</a>
      </li>

      <li class="nav-item active" *ngIf=data.firstName>
        <a class="nav-link" routerLink="/" (click)="signOut()">Sign Out</a>
      </li>
    </ul>

  </div>
</nav>

<div class="my-font">
  <router-outlet></router-outlet>
</div>
