.col-centered{
  float:none;
  margin: 0 auto;
  padding-top: 5%;
}

.card{
    margin: 50px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(171,168,164,1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(171,168,164,1);
    box-shadow: 0px 0px 30px 0px rgba(171,168,164,1);
  }

td:nth-child(2n) .card{
  background-color: #f9f9f9;
  margin: 10px 0px;
}

td:nth-child(2n-1) .card{
  background-color: #e5e5e5;
}

.card-body{
    margin: 0 auto;
}

.card-title{
    text-align: center;
}

.card-img-top {
    padding: 20px;
}

.card-text{
    padding: 5px;
    text-align: justify;
}

.badges{
    text-align:center;
    margin-bottom: 15px;
}

.progress {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.card-body{
    text-align: left;
}


table {
    display: block;
    overflow-x: auto;
    /* white-space: nowrap; */
    border: none;

    margin: 3% 10%;

}

table::-webkit-scrollbar{
  display: none;
}


.btn{
  margin-left: 32%;
}

body{
  background-color:#f9f9f9;
  font-family: "Montserrat";
  font-weight: 400;
}



.navbar{
  background-color: #eae7dc!important;
  font-family: "Karla";
  font-size: 24px;
  color: #8e8d8a;
}

.navbar-brand{
  font-family: "Karla";
  font-weight: bold;
  font-size: 36px;
}


#logo{
  height: 50px;
  width: 50px;
}
