<!-- Header with Background Image -->
<div>
  <img src="assets/projDscpt.jpg" alt="volunteering picture" style="width:100%;">
</div>


<!-- Page Content -->
<div class="container">

  <div *ngIf="showThanks">
  <br>
    <div class="alert alert-info" role="alert">
      Thanks a lot for donating!
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">What We Do</h2>
      <br>
      <p>Since 2004, our Build a School Programme has changed the lives of hundreds of thousands of children across rural philippines. Now, our powerful approach has evolved to help build entire groups of schools, giving more children the support and opportunities they deserve.

        If you value education and want to do something truly incredible, help us transform a school community.
        <br>
        <br>
      <h2 class="mt-4">How you can help</h2>
      <br>
      <ul class="list-group">
        <li class="list-group-item"><strong>Project Name:</strong> Philippines Community School</li>
        <li class="list-group-item"><strong>Help Needed:</strong> Donation</li>
        <li class="list-group-item"><strong>Donation Goal:</strong> $20,000
          <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
              <span class="sr-only">70% Complete</span>
            </div>
          </div>
        </li>
        <li class="list-group-item"><strong>Karma Points:</strong> 5  &#10084;&#10084;&#10084;&#10084;&#10084;</li>
      </ul>
      <br>
      <br>

      <p>
        <br>
        <a class="btn btn-primary btn-lg" routerLink="/projects/1/donate">Click here to help us &raquo;</a>
      </p>

    </div>
    <div class="col-sm-4">
      <h2 class="mt-4">Contact Us</h2>
      <address>
        <strong>Build Philippines</strong>
        <br>Municipality of Dinalupihan,
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">name@example.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->


</div>
<!-- /.container -->
