<!-- Header with Background Image -->
<div>
  <img src="assets/projDscpt.jpg" alt="volunteering picture" style="width:100%;">
</div>


<!-- Page Content -->
<div class="container">

  <div *ngIf="showThanks">
  <br>
    <div class="alert alert-info" role="alert">
      Thanks a lot for donating!
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">What We Do</h2>
      <br>
      <p>Friends for Asia (FFA) sends volunteers to a variety of project sites across Thailand. One of the most rewarding projects that we have partnered with is the Chiang Mai orphanage volunteer program, which is based in a rural setting in Chiang Mai province.

Given the orphanage’s relatively remote location, FFA volunteers spend Monday through Friday at the project site, returning to the centrally located volunteer accommodation in Chiang Mai city for the weekend. This ensures that they have plenty of time to devote to caring for the children, assisting with household chores and helping the older kids with homework during the school year.
        <br>
        <br>
      <h2 class="mt-4">How you can help</h2>
      <br>
      <ul class="list-group">
        <li class="list-group-item"><strong>Project Name:</strong> Chiang Mai Orphanage Volunteer Project</li>
        <li class="list-group-item"><strong>Help Needed:</strong> Volunteer</li>
        <!-- <li class="list-group-item"><strong>Donation Goal:</strong> $20,000
          <div class="progress">

            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
              <span class="sr-only">70% Complete</span>
            </div>
          </div>
        </li> -->
        <li class="list-group-item"><strong>Karma Points:</strong> 20  &#10084;&#10084;&#10084;&#10084;&#10084;</li>
      </ul>
      <br>
      <br>

      <p>
        <br>
        <a class="btn btn-primary btn-lg" routerLink="/projects/1/donate">Click here to help us &raquo;</a>
      </p>

    </div>
    <div class="col-sm-4">
      <h2 class="mt-4">Contact Us</h2>
      <address>
        <strong>Chiang Mai Thailand</strong>
        <br>Municipality of Dinalupihan,
        <br>
      </address>
      <address>
        <abbr title="Phone">P:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#">contact@friendsofasia.com</a>
      </address>
    </div>
  </div>
  <!-- /.row -->


</div>
<!-- /.container -->
